<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plato</title>
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSbUYrqrXIqBDsUzY21EvOK621dbBsh1MHag&s">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <p style="background-color: #141414;max-width: max-content; padding: 10px;">>_plato prototipo_v1</p>
</head>
<body>
    <div id="input-textarea">
        <textarea id="codigo"></textarea>
        <button id="button">EXPLICAR</button>
    </div>
    <div id="resposta" style="margin-top: 2vh;"></div>
    <script src="/static/script.js"></script>
</body>
</html>