<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>_plato</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <p style="background-color: #141414;max-width: max-content; padding: 10px;">>_plato prototipo_v1</p>
</head>
<body>
    <div id="input-textarea">
        <textarea id="codigo"></textarea>
        <button id="button">EXPLICAR</button>
    </div>
    
</body>
</html>